@{
    ViewBag.Title = "Página Inicial";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                O conteúdo das páginas devem estar sempre dentro de Cards como este!
            </div>
        </div>
    </div>
</div>
