<div class="modal fade" id="acessibilidade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mediumModalLabel">Acessibilidade</h4>
            </div>
            <div class="modal-body modalAcessibilidade">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Os atalhos de acessibilidade podem ajudar você a usar o computador com um teclado ou dispositivo assistencial.</p>
                        <p>
                            A lista a seguir contém atalhos de teclado para as tecnologias assistenciais no Windows 10, incluindo Lupa, Alto Contraste etc.
                        </p>
                    </li>
                    <li class="list-group-item">
                        Tecla do logotipo do Windows + Sinal de Adição (+) = Ativar a Lupa;
                    </li>
                    <li class="list-group-item">
                        Tecla do logotipo do Windows‌ + Esc = Desativar a Lupa;
                    </li>
                    <li class="list-group-item">
                        Tecla do logotipo do Windows + Sinal de Adição (+) ou Subtração (-) = Ampliar ou reduzir quando a Lupa estiver ativada;
                    </li>
                    <li class="list-group-item">
                        Ctrl + Alt + botão de rolagem do mouse = Ampliar e reduzir usando o botão de rolagem do mouse;
                    </li>
                    <li class="list-group-item">
                        Ctrl + Alt + teclas de direção = Aplicar panorâmica no sentido das teclas de direção;
                    </li>
                    <li class="list-group-item">
                        Ctrl + Sinal de Adição (+) ou Subtração (-) = Ampliar ou reduzir a tela;
                    </li>
                    <li class="list-group-item">
                        Ctrl + botão de rolagem do mouse = Ampliar e reduzir usando o botão de rolagem do mouse;
                    </li>
                    <li class="list-group-item">
                        Alt esquerda + Shift esquerda + Print Screen = Ativar ou desativar o Alto Contraste;
                    </li>
                    <li class="list-group-item">
                        Ctrl + HOME = Vai para o topo da página;
                    </li>
                    <li class="list-group-item">Ctrl + END = Vai para o final da página.</li>
                </ul>
            </div>
        </div>
    </div>
</div>