<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.9" targetFramework="net462" />
  <package id="TrackerEnabledDbContext.Common" version="3.6.1" targetFramework="net462" />
</packages>