<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Com o Build automatizado da aplicação, todos os valores que devem ser substituídos devem ser zerados antes da troca de valores pelo TFS -->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="Release" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="ChaveBanco" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
</configuration>